<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V8 Reviews</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d628443262.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="container">
        <nav class="navbar">
            <a href="/" class="logo">Logo</a>
            <form id="searchForm" autocomplete="off">
                <input type="text" placeholder="Search for a car" class="search" required>
                <button type="submit" id="search"><i class="fas fa-search"></i></button>
            </form>
            {{#if logged_in}}
            <button class="main-nav-btn" id="logoutBtn"><i class="fas fa-user"></i><span>{{username}}</span></button>
            {{else}}
            <button class="main-nav-btn" id="loginBtn"><i class="fas fa-user"></i>LOG IN</button>      
            <!-- The Modal -->
            <div id="loginModal" class="modal fluid">
                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <div class="loginForm" id="loginForm">
                        <h2>Log In</h2>
                        <form id="login" autocomplete="off">
                            <label for="email">
                                <input type="email" id="email-login" placeholder="Email">
                                <span>Email</span>
                            </label>
                            <label for="password">
                                <input type="password" id="password-login" placeholder="Password">
                                <span>Password</span>
                            </label>
                            <button id="login" class="form-primary-btn">
                                LOG IN
                            </button>
                        </form>
                        <p>OR</p>
                        <a class="formswap" id="newAcc">Create a new account</a>
                    </div>
                    <div class="registerForm hidden" id="registerForm">
                        <h2>Register</h2>
                        <form id="register" autocomplete="off">
                            <div id="names" class="names">
                                <label for="first-name">
                                    <input type="text" id="first-name-register" placeholder="First Name">
                                    <span>First Name</span>
                                </label>
                                <label for="last-name">
                                    <input type="text" id="last-name-register" placeholder="Last Name">
                                    <span>Last Name</span>
                                </label>
                            </div>
                            <label for="email">
                                <input type="email" id="email-register" placeholder="Email">
                                <span>Email</span>
                            </label>
                            <label for="password">
                                <input type="password" id="password-register" placeholder="Password">
                                <span>Password</span>
                            </label>
                            <label for="username">
                                <input type="text" id="username-register" placeholder="Username">
                                <span>Username</span>
                            </label>
                            <button id="register" class="form-primary-btn">
                                REGISTER
                            </button>
                        </form>
                        <p>OR</p>
                        <a class="formswap" id="useLogin">Use an existing account</a>
                    </div>
                </div>
            </div>
            {{/if}}
        </nav>

        <main>
            {{{body}}}
        </main>
        
        <footer>
            <p>Lorem ipsum dolor sit amet . - Copyright 2020 ©</p>
        </footer>
    </div>
    {{#if logged_in}}
    <script src="/js/logoutBtn.js"></script>
    {{else}}
    <script src="/js/loginModal.js"></script>
    {{/if}}
</body>
</html>