<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>V8 Reviews</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d628443262.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="container">
        <nav class="navbar">
            <a href="/" class="logo">Logo</a>
            <form id="searchForm" autocomplete="off">
                <input type="text" placeholder="Search for a car" class="search" required>
                <button type="submit" id="search"><i class="fas fa-search"></i></button>
            </form>
            {{#if logged_in}}
            <a href="" class="main-nav-btn"><i class="fas fa-user"></i></a>
            {{else}}
            <a href="" class="main-nav-btn"><i class="fas fa-user"></i>LOG IN</a>
            {{/if}}
        </nav>

        <main>
            {{{body}}}
        </main>
        
        <footer>
            <p>Lorem ipsum dolor sit amet . - Copyright 2020 ©</p>
        </footer>
    </div>
    
</body>
</html>