html {
    font-size: 62.5%;
}

body {
    background-image: url(../images/home-image-car.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
    color: white;
}
  
.container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.navbar {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10rem;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.main-nav-btn {
    width: 15rem;
    border: 2px white solid;
    border-radius: 5rem;
    text-align: center;
    padding: 1.5rem 2rem;
    font-size: 1.2rem;
    background: none;
    color: white;
    cursor: pointer;
    letter-spacing: .1rem;
}

.main-nav-btn i {
    margin-right: 1rem;
    color: #c8c8c8;
    font-size: 1.4rem;
}

.navbar .logo {
    width: 10rem;
}

  
.search {
    width: 40vw;
    max-width: 35rem;
    height: 5rem;
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    background: none;
    border: 2px white solid;
    color: white;
}
  
.search:focus {
    outline: none;
    caret-color: white;
}

.search::placeholder {
    font-weight: 400;
    text-align: center;
    color: #c8c8c8;
}

.search:focus::placeholder {
    color: transparent;
}

.search {
    border-radius: 10rem;
    padding-right: 5rem;
}
  
#searchForm {
    position: relative;
}

#search {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background: none;
    color: #c8c8c8;
    font-size: 1.6rem;
    border-radius: 100%;
    padding: 0;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
  
#search:hover {
    outline: none;
    border: none;
}

i {
    font-size: 1.2rem;
}

footer {
    padding: 3rem 2rem;
    margin-top: 10rem;
}

footer p {
    font-size: 1.4rem;
    text-align: center;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    height: 100%; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    animation-name: fadeIn;
    animation-duration: 0.3s;
    backdrop-filter: blur(5px);
  }

  .fluid {
    width: 100vw;
    margin-left: calc(50% - 50vw);
  }

  /* Modal Content/Box */
  .modal-content {
    border-radius: 2rem;
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40rem; /* Could be more or less, depending on screen size */
    color: #202020;
    text-align: center;
  }

  .modal-content h2 {
    font-size: 3rem;
    padding-top: 5rem;
    font-weight: 700;
  }


.modal-content form{
    max-width:768px;
    padding:2rem;
    display:flex;
    flex-direction:column;
}

.modal-content label{
    margin-bottom:15px;
    position:relative;
    border-bottom:1px solid #ddd;
}
.modal-content input{
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    width:100%;
    padding:10px 0px;
    margin-top:20px;
    border:none;
    outline:none;
    color: #202020;
}
.modal-content input::placeholder{
    opacity:0;
}
form span{
    position:absolute;
    top:0;
    left:0;
    transform:translateY(30px);
    transition-duration:300ms;
}

.modal-content label:focus-within > span,
input:not(:placeholder-shown) + span{
    font-size: 1.4rem;
    transform:translateY(0px);
}

.hidden {
    display: none;
}
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #202020;
    text-decoration: none;
    cursor: pointer;
  }

  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }

  .form-primary-btn {
    padding: 1.7rem 3.5rem;
    border-radius: 10rem;
    background-color: #55B15B;
    color: white;
    border: none;
    letter-spacing: .3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
  }

  .form-primary-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2)
  }
  
  .form-primary-btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
  }

  .modal-content .formswap {
      display: inline-block;
      color: #55B15B;
      margin-top: 2rem;
      margin-bottom: 2rem;
      cursor: pointer;
  }

  #names {
      display: flex;
      justify-content: space-between;
  }