html {
    font-size: 62.5%;
  }
  
  .container {
    height: 100vh;
    width: 100vw;
    background: lightblue;
  }
  
  .navbar {
    display: flex;
  }
  
  .search {
      width: 40vw;
      max-width: 20rem;
      height: 5rem;
      font-size: 1.4rem;
      font-weight: 500;
  }
  
  .search:focus {
      outline: none;
  }
  
  .search::placeholder {
      font-weight: 400;
      text-align: center;
  }
  
  .search {
    border-radius: 10rem;
    padding-right: 5rem;
  }
  
  #searchForm {
      position: relative;
  }
  
  #search {
      position: absolute;
      right: 1rem;
      top: 1rem;
      background: var(--primary);
      border-radius: 100%;
      padding: 0;
      height: 3rem;
      width: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
  }
  
  #search:hover {
      outline: none;
      border: none;
  }
  
  i {
      font-size: 1.2rem;
  }