 <div  class="container">
    <header>

        <img src="./images/logo-adare-restaurant.png" alt="Logo for Adare Restaurant">

    </header>

    <nav>
        <a href="#">HOME</a>
        <a href="#">MENU</a>
        <a href="#">ORDER ONLINE</a>
        <a href="#">GIFT VOUCHER</a>
        <a href="#">CATERING</a>
        <a href="#">CONTACT</a>

    </nav>

    <main>
        <h1>let's meat</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, accusantium. Autem quam laudantium inventore quaerat cumque, a temporibus impedit eligendi aut? Aliquam fuga deserunt odit voluptatum optio ex explicabo ullam?</p>
        <a href="mailto:akhtaruzzamankhan016@gmail.com?Subject=Reservation">MAKE RESERVATION</a>

    </main>
  <footer>

    <p>Main St. Blackabbry, Adare, Co. Limeric - Copyright 2020 ©</p>

  </footer>  
</div>